body {
	font-family: sans-serif, Helvetica, "Fira Sans", "Ubuntu";
	font-size:11pt;
	background-color:#EDECEC;
}
/* blocks */

#content {
	width:90%;
	height: 100%;
	text-align: center;
	margin:55pt auto;
}

div.links {
	background: #006064;
	position: fixed;
	height: 40pt;
	left: 0px;
	top: 0px;
	width: 100%;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.links h1 {
	font-size: 14pt;
	text-decoration:none;
	text-transform: capitalize;
	color:white;
	font-weight:bold;
	float: left;
	line-height: 40pt;
	margin: 0px 20pt;
}
.links h1 a {
	font-size: 14pt !important;
}

.message, .message-with-repto {
	background-color: white;
	margin-bottom: 10pt;
	text-align: left;
	padding: 10px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	overflow: auto;
}
.viewonly {
	margin: 0 auto 20px auto;
}

/* texts */

a {
	color:#e65100;
	text-decoration:none;
	outline: none;
}
a:hover {
	color:#fb8c00;
}
.links a, .links a:visited {
	text-decoration:none;
	color:white !important;
	font-size: 10.5pt !important;
	float:right;
	line-height: 40pt;
	padding:0px 8px 0px 8px;
	min-width:100px;
	text-align:center;
	user-select: none;
	text-transform: uppercase;
}
.message {
	background: #e0f7fa;
}
.sender {
	float: right;
	font-weight: bold;
	color: black !important;
}
a.sender:hover {
	border-bottom: 2px solid #e65100;
}

.date {
	color: rgba(0,0,0,0.54);
}
.subj {
	color: black;
}
p#nav {
	display: inline;
	text-align: center;
	line-height: 50pt;
}
ul {
	list-style-type: none;
	text-align: left;
	width: 50%;
	margin: 0 auto;
}
form {
	width: 100%;
	text-align: center;
}
.txt {
	width: inherit;
	background-color: white !important;
	padding: 10px;
	margin-bottom: 20px !important;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	text-align: left !important;
	border: none;
}
textarea {
	min-height: 400px;
}
.submbtn {
	background-color: #e65100 !important;
	color: white !important;
}
