body {
	font-family: sans-serif, Helvetica, "Fira Sans", "Ubuntu";
	font-size:11pt;
	line-height: 1.5;
	background-color:#EDECEC;
}
* {
	box-sizing: border-box;
}

#content {
	width:100%;
	max-width: 900px;
	min-height: 100%;
	text-align: center;
	margin:50pt auto;
}

div.links {
	background: #006064;
	position: fixed;
	height: 40pt;
	left: 0px;
	top: 0px;
	width: 100%;
	overflow: auto;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.links h1 {
	font-size: 13pt;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-weight:bold;
	float: left;
	line-height: 40pt;
	margin: 0px 20pt;
}

.links h1 a {
	font-size: 13pt;
}
.links h1 a:before {
	content: "← ";
}

.message, .message-with-repto {
	background-color: white;
	margin-bottom: 10pt;
	text-align: left;
	padding: 11pt;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	overflow: auto;
}
.viewonly {
	margin-bottom: 11pt;
}

a {
	color:#e65100;
	text-decoration:none;
	outline: none;
}
a:hover {
	color:#fb8c00;
}
.links a, .links a:visited {
	text-decoration:none;
	transition: color 0.3s ease-out;
	color: #DDDDDD;
	font-size: 10.5pt;
	float:right;
	line-height: 40pt;
	padding:0px 8px 0px 8px;
	min-width:100px;
	text-align:center;
	user-select: none;
	text-transform: uppercase;
}
.links a:hover {
	color: white;
}
.links a:active {
	background: #0097a7;
}

.message {
	background: #e0f7fa;
}
.sender {
	float: right;
	font-weight: bold;
	color: black;
}
a.sender:hover {
	color: #e65100;
}

.date, .quote, .comment {
	color: rgba(0,0,0,0.54);
}

.subj {
	color: black;
}
p#nav {
	display: inline;
	text-align: center;
	line-height: 50pt;
}
p#nav a, p#nav span {
	background: white;
	padding: 8pt;
	color: black;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	margin: 6pt;
	user-select: none;
	border-radius: 2px;
}
p#nav span.active {
	background: #006064;
	color: white;
}
p#nav a:active {
	background: #0097a7;
	color: white;
}

form {
	width: inherit;
	text-align: center;
	margin: 0 auto;
}
.txt {
	width: inherit;
	background-color: white;
	padding: 11pt;
	margin-bottom: 11pt;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	text-align: left;
	border: none;
}
select {
	appearance: none;
	-webkit-appearance:none;
	-moz-appearance:none;
	padding: 11pt;
	background-color: white;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	text-align: left;
	margin-right: 11pt;
	border: none;
}

textarea {
	min-height: 400px;
}
.submbtn {
	background-color: #e65100;
	color: white;
	padding: 10px 15px;
	border-radius: 2px;
	box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
	cursor: pointer;
	border: medium none;
	transition: box-shadow 0.3s ease-out;
	z-index: 1;
}
.submbtn:hover {
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}

table.echolist {
	background: white;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	text-align: left;
	border-collapse: collapse;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
	border-radius: 2px;
}

table.echolist tr {
	border-bottom: 1px solid #888888;
}
table.echolist tr:last-child {
	border-bottom: none;
}
table.echolist td,th {
	padding: 11pt;
}
table.echolist th {
	word-break: break-all;
}
